@import '../../styles/variables.scss';

.title {
  font-size: 24px;
  font-weight: 500;
  color: $colorBlackLight;
  margin-bottom: 0.5rem;
}
.subTitle {
  font-size: 1rem;
  line-height: 1.5rem;
  color: $colorGrayLight;
  margin-bottom: 2rem;
}
